# Database Configuration
DB_USER=
DB_NAME=

# Database url
DB_URL=

# Passwords and Sensitive Strings
DB_PASSWORD=

# JWT (secret must have at least 32 characters)
JWT_SECRET=
JWT_EXPIRATION_MILLIS=3600000
